<main class="container container-page">
  <h1 class= "pt-5 pb-5 mt-3">Travel Stories</h1>
  <section class="container">
    <section class="container pt-5 pb-5 text-center"> 
      <h2>Returning to the Philippines <span><%= link_to "Read Story", "signups/new", class: "text-center btn btn-warning" %></span></h2>
      <img src="https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-thumbnail", alt="village scene" width= "800px">
    </section>
    <section class="container pt-5 pb-5 text-center"> 
      <h2>My travel to Greece <span><%= link_to "Read Story", "signups/new", class: "text-center btn btn-warning" %></span></h2>
      <h6>Finding my roots and exploring new paths</h6>
      <img src="https://images.pexels.com/photos/6181092/pexels-photo-6181092.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-thumbnail", alt="village scene" width= "800px">
    </section>
    <section class="container pt-5 pb-5 text-center"> 
      <h2>Three Months in Egypt <span><%= link_to "Read Story", "signups/new", class: "text-center btn btn-warning" %></span></h2>
      <img src="https://images.pexels.com/photos/4356144/pexels-photo-4356144.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-thumbnail", alt="Egypt" width= "800px">
    </section>
    <section class="container pt-5 pb-5 text-center"> 
      <h2>Discovering the Maldives <span><%= link_to "Read Story", "signups/new", class: "text-center btn btn-warning" %></span></h2>
      <img src="https://images.pexels.com/photos/1591373/pexels-photo-1591373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-thumbnail", alt="village scene" width= "800px">
    </section>
  </section>
  <section class="container pb-5">
    <h1 class= "pt-5 mt-5">Discover more travel stories</h1>
    <%= link_to "Sign Up", "signups/new", class: "text-center btn btn-warning" %>
  <section>
</main>